.u-section-1 .u-sheet-1 {
  min-height: 837px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 382px;
  margin: 0 auto;
}

.u-section-1 .u-list-1 {
  margin: 40px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 488px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 256px;
  min-height: 204px;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 40px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 256px;
  min-height: 204px;
  background-size: auto;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 40px 83px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 256px;
  min-height: 204px;
  background-size: auto;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 40px 43px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 256px;
  min-height: 204px;
  background-size: auto;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 40px 156px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 256px;
  min-height: 204px;
  background-size: auto;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 40px 107px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px 20px;
}

.u-section-1 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 20px auto 0 0;
}

.u-section-1 .u-group-6 {
  width: 256px;
  min-height: 204px;
  background-size: auto;
  margin: -85px 0 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 20px 20px 30px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: 40px 126px 0 0;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-2 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-3 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-4 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-5 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 20px;
  }

  .u-section-1 .u-group-6 {
    width: 201px;
    min-height: 203px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 951px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-group-1 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-1 .u-group-2 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-1 .u-group-3 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-1 .u-group-4 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-1 .u-group-5 {
    width: 243px;
    min-height: 166px;
  }

  .u-section-1 .u-group-6 {
    width: 243px;
    min-height: 166px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-6 {
    width: 443px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    width: 235px;
  }

  .u-section-1 .u-group-2 {
    width: 235px;
  }

  .u-section-1 .u-group-3 {
    width: 235px;
  }

  .u-section-1 .u-group-4 {
    width: 235px;
  }

  .u-section-1 .u-group-5 {
    width: 235px;
  }

  .u-section-1 .u-group-6 {
    width: 235px;
  }
}